
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
.barvy { 
    /*moje_barvy*/
    color:
#16425B
#2F6690
#3A7CA5
#81C3D7
#D9DCD6
#c1121f
#780000
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #D9DCD6;
    color: #16425B;
    line-height: 1.6;
}

h1{
    font-family: Tinos, 'Times New Roman', Times, serif;
    font-size: 5em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
 
}
p {
    font-family: Roboto, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    font-style: normal;
    line-height: 1.5em;
    margin: 0.5em 0;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "width" 100;
}

nav {
    background-color: #16425B;
    padding: 10px 0;
    text-align: center;
    

}
nav a {
    color: #D9DCD6;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0px 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}
nav a:hover {
    color: #c1121f;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0px 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.uvod img {
    border-radius: 50%;
    margin: 0 20px 20px 0;
    float: left;
}

section {
    padding: 50px 15%;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}
.fotogalerie {
    background-color: #780000;
    color: #f9e3d0;
}
.fotogalerie img {
    border-radius: 10px;
    border: #f9e3d0 solid 2px;
    width: 30%;
    height: auto;
    margin: 10px;
}
.kontakt {
    background-color: #2F6690;
    color: #D9DCD6;
}
.kontakt a {
    color: #D9DCD6;
    text-decoration: none;
    padding: 0px;
    /*display: inline-block;*/
    transition: background-color 0.3s ease;
}
.kontakt a:hover {
    color: #c1121f;
    text-decoration: none;
    padding: 0px;
    /*display: inline-block;*/
    transition: background-color 0.3s ease;
}